= render "header"

.main
  = form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "名前(カナ)で検索", class: "search-input"
    = form.submit "検索", class: "search-btn"

  .table-responsive
    %table.chart
      %thead
        %tr
          %th お名前
          %th お引き取り日
          %th 保管場所
          %th 部屋番号
          %th 電話番号
      %tbody
        - @items.each do |item|
          %tr.clickable-row{"data-href" => "/items/#{item.id}"}
            %td
              = item.guest_name
              様
            %td
              = item.pickup_day
            %td
              = item.houseroom
            %td
              = item.room_no
            %td
              = item.phone_number
  .to-root-container
    = link_to root_path, class:'back-btn' do
      一覧へ戻る

= render "footer"